@mixin mobile {
    @media only screen and (max-width :320px) {
        @content;
    }
}
$fontcolor:#51291e;
body
{
    margin:3px;
    background-color:#fcffeb;
    color:$fontcolor;
    
}
.container
{
    display: flex;
    padding: 1vw;
    font-family: 'Chela One', sans-serif;
    letter-spacing: 2px;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
        @include mobile
        {
            flex-direction: column;
            text-align: center;
            clear: both;
            padding: 0px;
        }
    .box1
    {   
        float: left;
        flex-grow: 1;
        .imgG
        {
            width: 15vw;
            height: 15vw;
            @include mobile
            {
                display: none;
            }
        }
    }
    .box2
    {
        float:left;
        flex-grow: 9;
        font-size: xx-large;
        a
        {
            text-decoration: none;
            color:$fontcolor;
        }
        @include mobile
        {
            font-size: large;
            justify-content: center;
        }
    }
    .box3
    {
        float: right;
        flex-grow: 9;
        .mobMenu
        {
            display: none;
        }
        @include mobile
        {
            .nav
            {
                display: none;
            }
            .mobMenu
            {
                display: inline;
                .icon
                {
                    color:#51291e;
                    cursor: pointer;
                    transition: all 0.5s ease 0s;
                }
                #myLinks
                {
                    display: none;
                }
            }
        }
       
        ul
        {
            font-size: large;
            text-align: right;
            @include mobile
            {   
                text-align: center;
            }
            li
            {
                list-style: none;
                display: inline-block;
                @include mobile
                {
                    display: list-item;
                }
            }
        }
    }
}
.btn 
{
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    cursor: pointer;
    padding: 12px 10px;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.5s ease 0s;
}
.btn:hover 
{
    background: none;
    border-color: #51291e;
    border-width: 3px;
    text-decoration:none;
}
.btn-nav 
{
    color:$fontcolor;
}
.container-search
{
    display: flex;
    justify-content: center;
    clear: both;
    padding-top: 2vw;
    padding-bottom: 1vw;
    @include mobile
    {
        flex-direction: column;
        justify-content: center;
        padding:2vw;
        clear: both;
    }
    .form-group
    {
        display: flex;
        justify-content: center;
        padding: 1.5vw;
        letter-spacing: 2px;
        font-family: 'Chela One',sans-serif;
        float: left;
        letter-spacing: 2px;
        @include mobile
        {
            float: none;
        }
    }   
    .countbox
    {
        display: flex;
        justify-content: center;
        padding: 1.5vw;
        letter-spacing: 2px;
        font-family: 'Chela One',sans-serif;
        float: right;
        letter-spacing: 2px;
        @include mobile
        {
            float: none;
        }
    }
}
.findbutton 
{
    display:flex;
    justify-content:center;
    background: none;
    margin-left:45%;
    margin-right:45%;
    border:5px solid #51291e;
    border-radius:10px;
    @include mobile
    {
        margin-left:30%;
        margin-right:30%;
    }
    .iconbtn
    {
        border:none;
        border-radius: 5px;
        padding: 5px 20px;
        text-align: center;
        cursor: pointer;
        transition: all 0.5s ease 0s;
        .btn
        {
            background: none;
        }
    }
}
.grid-container
{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: stretch,center;
    padding: 1vw;
    padding-top: 3vw;
    padding-left: 5vw;
    grid-gap: 0.5vw;
    @include mobile
    {
        grid-template-columns: auto;
        justify-content: center;
    }
    .grid-item 
    {
        background-color:transparent;
    }   
}
.footbar
{
    padding-top: 5vw;
    @include mobile
    {
        padding-top:3vw;
    }
    .footnav
    {
        ul
        {
            font-family:'Chela One',sans-serif;
            letter-spacing: 1px;
            text-align: center;
            justify-content: center;
            li
            {
                padding-left: 3vw;
                padding-right: 3vw;
                list-style: none;
                display: inline-block;
            }   @include mobile
                {
                    padding-top: 1vw;
                    padding-bottom: 1vw;
                }
        }
    }
}

