body {
  margin: 0px;
  background-color: #DBDBDB;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1vw;
  font-family: 'Chela One', sans-serif;
  letter-spacing: 2px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: auto;
  height: auto;
}

@media only screen and (max-width: 320px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    clear: both;
    padding: 0px;
  }
}

.container .box1 {
  float: left;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.container .box1 .imgG {
  width: 15vw;
  height: 15vw;
}

@media only screen and (max-width: 320px) {
  .container .box1 .imgG {
    display: none;
  }
}

.container .box2 {
  float: left;
  -webkit-box-flex: 9;
      -ms-flex-positive: 9;
          flex-grow: 9;
  font-size: xx-large;
}

@media only screen and (max-width: 320px) {
  .container .box2 {
    font-size: large;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.container .box3 {
  float: right;
  -webkit-box-flex: 9;
      -ms-flex-positive: 9;
          flex-grow: 9;
}

.container .box3 ul {
  font-size: large;
  text-align: right;
}

@media only screen and (max-width: 320px) {
  .container .box3 ul {
    text-align: center;
  }
}

.container .box3 ul li {
  list-style: none;
  display: inline-block;
}

@media only screen and (max-width: 320px) {
  .container .box3 ul li {
    display: list-item;
  }
}

.btn {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  cursor: pointer;
  padding: 12px 10px;
  font-weight: bold;
  border-radius: 5px;
  text-decoration: none;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.btn:hover {
  background: none;
  border-color: black;
  border-width: 3px;
  text-decoration: none;
}

.btn-nav {
  color: black;
}

.container-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  clear: both;
  padding: 2vw;
}

@media only screen and (max-width: 320px) {
  .container-search {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0px;
    clear: both;
  }
}

.container-search .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.5vw;
  letter-spacing: 2px;
  font-family: 'Chela One',sans-serif;
  float: left;
  letter-spacing: 2px;
}

@media only screen and (max-width: 320px) {
  .container-search .form-group {
    float: none;
  }
}

.container-search .countbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.5vw;
  letter-spacing: 2px;
  font-family: 'Chela One',sans-serif;
  float: right;
  letter-spacing: 2px;
}

@media only screen and (max-width: 320px) {
  .container-search .countbox {
    float: none;
  }
}

.findbutton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: aqua;
  margin-left: 43%;
  margin-right: 43%;
  border-radius: 10px;
}

@media only screen and (max-width: 320px) {
  .findbutton {
    margin-left: 30%;
    margin-right: 30%;
  }
}

.findbutton .iconbtn {
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.findbutton .iconbtn .btn {
  background: aqua;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  background-color: #DBDBDB;
  -webkit-box-pack: stretch,center;
      -ms-flex-pack: stretch,center;
          justify-content: stretch,center;
  padding: 1vw;
  padding-left: 5vw;
  grid-gap: 1vw;
}

@media only screen and (max-width: 320px) {
  .grid-container {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.grid-container .grid-item {
  background-color: transparent;
  /* img
        {
            width:200px;
            height: 200px;
        } */
}

.footbar .footnav ul {
  font-family: 'Chela One',sans-serif;
  letter-spacing: 1px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footbar .footnav ul li {
  padding-left: 3vw;
  padding-right: 3vw;
  list-style: none;
  display: inline-block;
}

@media only screen and (max-width: 320px) {
  .footbar .footnav ul {
    padding-top: 1vw;
    padding-bottom: 1vw;
  }
}
/*# sourceMappingURL=style.css.map */